        form{
            display: flex;
            flex-direction: column;
            width:30vw;
            height: 90%;
            margin:0 auto;
        }
        
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(245, 232, 239);
        }

        h1{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        fieldset{
            background-color: rgb(242, 222, 239);
        }